body{
  background-color: #FAFAFA;
  /*background: url(http://subtlepatterns.com/patterns/sandpaper.png);*/
  
}

{

}

.mdl-layout__drawer-button, .mdl-layout__tab-bar-button, .mdl-layout__tab-bar {
    background-color: #53cb5d;}

.mdl-layout__header-row {
  height: 110px;
  background-color: #03898A
}

.mdl-navigation__link{
      font-size: 14px;
    text-transform: capitalize;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.header-bg {
  background-color: rgb(255,255,255);
}

.date-and-time{
    display: inline;
    color: #009688;
    padding-left: 30px;
    font-weight: bold;
}

.top-add{
  margin-left: 30px;
}

}

.top-bar{
    padding: 20px;
    background-color: #009688;
      height: 6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container{
  margin: auto auto;
  width: 1024px;
  overflow: inherit;
  margin-bottom: -15px;
}

.container2{
  margin: auto auto;
  width: 100%;
  overflow: inherit;
  margin-bottom: -15px;
}

.add-container{
  margin: auto auto;
  width: 100%;
  overflow: inherit;
}

.mdl-cell {
  display: table;
}

.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-card > * {
  height: auto;
}
.mdl-card .mdl-card__supporting-text {
 margin: 15px;
  margin-bottom: -10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
  text-align: justify;
}
.mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.mdl-card__actions {
  margin: 10px;
  padding: 10px 0;
  color: inherit;
}
.mdl-card__actions a {
  margin: 5;
}

.mdl-card__actions .right {
  float: right;
}

.mdl-card__actions .right a{
  margin-right: 20px;
}

.mdl-card__actions .left {
  float: left;
}

.mdl-card__actions .left .material-icons {
  font-size: 15px;
}

.mdl-card__actions a:hover,
.mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 0;

}


.mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 15px;
  margin-top: 10px;
}
section.section--center {
  max-width: 860px;
}
#features section.section--center {
  max-width: 620px;
}
section > header{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section > .section__play-btn {
  min-height: 200px;
}
section > header > .material-icons {
  font-size: 3rem;
}
section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
section .section__circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
section .section__text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
}

section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
section .section__text a {
  text-decoration: none;
}
section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}

.left > a:not(:last-child) {
  border-left: 1px solid rgba(0,0,0,.13);
  padding-left: 5px;
}

.mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}
#features section {
  margin-bottom: 72px;
}

.counter{
  font-size: 10px;
  padding-top: 8px;
}

.original_price{
  text-decoration: line-through;
}

.discount{
    color: #FF4081;
    border-left: 1px solid rgba(0,0,0,.13);
    padding-left: 5px;
}

.final_price{
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s cubic-bezier(0.04, 0.48, 1, 1);
  color: rgb(76, 175, 80);
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  list-style-type: none;
  border-left: 1px solid rgba(0,0,0,.13);
  padding-left: 5px;
  /*font-weight: bold;*/
}

.shopname{
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s cubic-bezier(0.04, 0.48, 1, 1);
  color: rgb(76, 175, 80);
  text-decoration: none;
  font-size: 14px;
  line-height: 36px;
  list-style-type: none;
  border-right: 1px solid rgba(0,0,0,.13);
  padding-right: 4px;
  /*font-weight: bold;*/
  float: right;
}

.mdl-layout__header, .mdl-layout__header-row .mdl-navigation__link,.mdl-layout__header .mdl-layout__drawer-button, .mdl-layout__drawer-button{
  color: rgb(255, 255, 255) !important;
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
}

.mdl-layout__header .mdl-layout__drawer-button, .mdl-layout__drawer-button{
  padding-top: 10px;
  padding-bottom: 10px;
}

.mdl-switch, .filter-label {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  margin: 0;
  padding: 0;
  overflow: visible;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 44px !important;
  color: #03A9F4;
}

.filter{
  background-color: rgb(255,255,255);
/*width: 100% !important;*/
}

.filter-header{
  /*color: #03A9F4;*/
  /*font-weight: bold;*/
  font-size: 1.5em;
  text-align: left;
  margin: 4px 0 4px;
  border-bottom: 2px solid #979797;
}

.filter_label{
    padding-left: 0px !important;
  font-weight: bold;

}

.mdl-layout__drawer-button{
  height:10px;
}

.white{
  background-color: #fff !important;
   height: 360px;
   padding: 0px;

}

.rgtwhite{
  background-color: #fff !important;
   padding: 0px;

}

.page-content{
  /*padding-top: 65px;*/
}

.page-header{
  background-color: #fff;
  margin: 0px 6px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #979797;
}

.whatshot, .fav, .nearyou {
  font-size: 1.7em;
  text-shadow: 0px 3px 4px rgba(0,0,0, 0.4);
}

.shop-bg{
  background-color: #fff;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_3.gif') 50% 50% no-repeat rgb(249,249,249);
}
.demo-card-event.mdl-card {
            width: 100%;
            height: 256px;
            background: #3E4EB8;
            margin-bottom: 10px;

          }
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

/*shopppppppppppppppppppppppp*/
.profile-page .profileContainer {
  max-width: 900px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-bottom: 2px solid #979797;
}

.profile-page .profileContainer-list {
  /*max-width: 900px;*/
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.profile-page .profileContainer-list-add {
  /*max-width: 900px;*/
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 5px auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.profile-shopname-title{
  line-height: 25px;
  margin: 5px 0px;
  font-size: 14px;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  padding-left: 15px;
}

.profile-shopname-title a{
    text-decoration: none;
    color: rgb(0, 150, 136);
    font: lighter 14px/23px Roboto,sans-serif;
    font-weight: bold;
    font-size: 12px;
  }

.profile-page .profilePiccard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}



.profile-page .mdl-card h3 {
  margin: 0;
  font-size: 34px;
  line-height: 40px;
}

 .profile-page .mdl-card__media {
  /*background-image: url('http://www.getmdl.io/templates/blog/images/road_big.jpg');*/
  width: 100%;
}

.sideadd{
 
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.profile-shopname{
  border-bottom: 2px solid #53B257;
  margin-top: 0px;
  /*margin-top: 0px;
  margin-top: 0px;*/
}

.profile-shopname a{
    
    font: lighter 15px/22px Roboto,sans-serif;
    letter-spacing: -0.01em;
    font-weight: bold;
    margin: 0px 0 5px;
    padding-bottom: 3px;
    
    padding-top: 10px;
    text-transform: capitalize;
    color: #53B257;
    text-decoration: none;
}

.profilePiccard p{
     margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: justify;
    padding-right: 10px;
    font-size: 14px;
    line-height: 22px;
}

.right .mdl-menu__container {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  overflow: visible;
  height: 0;
  width: 0;
  z-index: -1;
}

.profile-page h1{
  font-size: 24px;
  color: #009688;
  position: relative;
  overflow: hidden;
  margin-bottom: -15px;
  padding-top: 0px;
  padding-bottom: 6px;
  /*height: 34px;*/
  padding-left: 15px;
  border-bottom: 4px solid rgba(0,0,0,.13);
}

.profile-page h2{
      font-size: 20px;
    color: #009688;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    height: 34px;
    padding-left: 15px;
    border-bottom: 4px solid rgba(0,0,0,.13);
}



.profile-page h1 a, .tab-links{
  text-decoration: none;
  padding-right: 15px;
  font-weight: bold;
  color: #009688;
}

.profile-page .mdl-card__actions {
  margin: 0px;
  margin-bottom: 0px;
  padding: 10px 0px;
  color: inherit;
  border-top: 2px solid #979797;
  border-bottom: 2px solid #979797;
}



.info{
  padding: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
    font-size: 1em;
}

.pro-mdl-card__actions{
  margin: 0px;
  margin-bottom: 0px;
  padding: 10px 0px;
  color: inherit;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  
}

.pro-mdl-card__actions .right {
  float: right;
}

.pro-mdl-card__actions .right {
  float: right;
}

.pro-mdl-card__actions .right a{
  margin-right: 20px;
}

.pro-mdl-card__actions .left {
  float: left;
}

.pro-mdl-card__actions .left .material-icons {
  font-size: 15px;
}

.mdl-layout__content {
  -ms-flex: 0 1 auto;
  /*display: inline-block;*/
  display: table;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  
  width: 1120px;
  margin: auto auto;
}

.mdl-layout__content::-webkit-scrollbar { width: 20px !important }

.readmore{
  margin-left: 8px;
  margin-right: 8px;
  margin-top: -2px;
  margin-bottom: 10px;
  border-top: 4px solid rgba(0, 0, 0, 0.12);
  border-bottom: 4px solid rgba(0, 0, 0, 0.12);
}

.readmore a{
  font-weight: bold;
  color: rgb(0, 150, 136) !important;
  background-color: rgba(225, 225, 225, 1);

}

.top-lists{
  background-color: #fff;
}

.top-lists h1{
  margin-bottom: 10px;
  width: 100%;
}

.long-add{
  height: 150px;
  width: 100%;
}

.news-container{
  /*margin: -15px;*/
  background-color: rgba(0, 150, 136, 0.36);;
}


.mdl-mini-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 16px;
  margin-bottom: -16px;
  color: #FFFFFF;
  background-color: #009688;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background: rgb(255, 255, 255);
}

.mdl-layout__header .mdl-layout__drawer-button{
      padding-bottom: 22px;
      margin-top: 27px;
      visibility: hidden;
    }

.mdl-layout__header .material-icons {
    color: #53CB5D;
    font-size: 1.3em;
}

.headline{
  color:  #EB6E44;
}

.trending{
 color:  #EB6E44; 
}

.social {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 20px;
    margin-top: auto;
    color: #FFF;
    float: left;
    margin-right: 0px;
}

.nav-icon-fa-icon{
    font-size: 30px;
    color: #FFFFFF;
    padding-top: 10px;
}

.nav-icon-fa{
    font-size: 30px;
    color: #FFFFFF;
}

.nav-icon-fa-home-icon{
        margin-top: -17px;
}

.mdl-layout__tab {
    font-size: 14px;
    text-transform: capitalize;
    color: #FFF;
}

/*individual page*/
.indi-image{
  width: 100px;
  height: 100px;
}

.title-link{
  color: #53B257;
    font-weight: bold;
    text-decoration: none;
}

.comments{
    color: #009688;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.comments-your-feedback{
    color: #009688;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.comment-form{
  margin: 10px;
}

.fullwidth{
  width: 100%;
}

.noborder{
  border: none !important;
}

.video_link{
  text-decoration: none;
}



@media screen and (max-width: 850px){
  .container, .mdl-layout__content,.mdl-layout__content {width: 100%; margin: auto auto;}
  .mdl-layout--fixed-header>.mdl-layout__header { height: 100px;}
  .mdl-layout__header .mdl-layout__drawer-button{visibility: visible;}
  .mdl-layout__tab-bar-container{visibility: hidden;}
}

@media (max-width: 420px) {
    .mdl-layout__header .mdl-layout__drawer-button {
      visibility: visible;
    
      
    }
}


/*ppppppppppppppppppppppppp*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
        background-color: #53B257;
    border-color: #53B257;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #53B257;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

/*pop up*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 15px;
  text-align: center;
}
#boxes #dialog {
  width:calc(100% - 350px); 
  height:auto;
  top:110px;
  padding:10px;
  background-color:#ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}
.maintext{
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}

#lorem{
  font-family: "Segoe UI", sans-serif;
  font-size: 12pt;
  text-align: left;
}
#popupfoot{
  font-family: "Segoe UI", sans-serif;
  font-size: 16pt;
  padding: 10px 20px;
}
#popupfoot a{
  text-decoration: none;
}
.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
  background-color:#D1D1D1;
  color: green;
}
.popupoption2:hover{
  
  color: red;
}